*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
/tmp
/oisisi-00.pdf
/oisisi-01.pdf
/oisisi-02.pdf
/oisisi-03.pdf
/oisisi-04.pdf
/oisisi-05.pdf
/oisisi-06.pdf
/oisisi-07.pdf
/oisisi-08.pdf
/oisisi-09.pdf
/oisisi-10.pdf
/oisisi-11.pdf
/oisisi-12.pdf
/oisisi-13.pdf
/oisisi-14.pdf
/oisisi-15.pdf

*.pygtex

*.pygstyle

asp-13.pdf

asp-14.pdf

asp-15.pdf

asp-13.pdf
